.bg-darkblue
{
    background-color: #00008b;
}

.main-container
{
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #ced4da;
    background-color: #ffffff;
}

#header
{
    background: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 400px;
    border-radius: 5px;
}
